@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('normalize.css');

/*
:root{
  --verdecito: #037334;
  --celeste: #AEBFB1;
  --amarillito: #F2EA77; 
  --amarillo:#D9BB25;
  --marron: #BF8B4B;
  --letra: #010100;
  --amarillito2: #EEEC71;
}
*/
#container{
  height: 100vh;
}

/* 3 sections */
#first_half{
  background-color: #EEEC71;
  height: 40%;
  padding-bottom: .2rem;
}
#second_half{
  background-color: #BF8B4B;
  height: 50%; 
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
footer{
  background-color: #037334;
  height: 10%;
  margin-top: 0;
}

/* first half */
#title{
  text-align: center;
  color: #010100;
  font-family: 'Righteous', cursive;
  margin:0;
  font-size: 4rem;
}

#info{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 45%;
  padding-bottom: 1rem;
}

#button-container{
  display: flex;
  height: 20%;
  width: 100%;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

/* info */
#status{
  font-family: 'Righteous', cursive;
  text-align: center;
  margin-bottom: 0;
}
#bar-info{
  font-family: 'Righteous', cursive;
  text-align: center;
  margin-bottom: .2rem;
  margin-top: .2rem;
}
#img-container{
  height: 50px;
  width: 100%;
  display: flex;
  justify-content: center;
}
img{
  max-height: 50px;
  text-align: center;
}
button:hover, button:focus {
  outline: none;
}
#scan{
  font-family: 'Righteous', cursive;
  border-radius: 15px;
  padding: 18px 38px;
  border: 0;
  box-shadow: 7px 6px 28px 1px rgba(0, 0, 0, 0.24);
  background-color: #AEBFB1;
  border: 1px solid rgba(255,255,255,0.1);
  color: #010100;
  font-size: 1rem;
  text-transform: uppercase;
  cursor:pointer;
  -webkit-tap-highlight-color: transparent;
}
#scan:active{
  transform: scale(0.98);
  /* Scaling button to 0.98 to its original size */
  box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24);
  /* Lowering the shadow */
}

/* second half */
.row{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

#faltanNutrientes{
  text-align: center;
  color: #010100;
  font-family: 'Righteous', cursive;
  display: none;
}

#azucar{
  background-image: url(img/Azucares.png);
  height: 80px;
  width: 80px;
  display: none;
}
#sodio{
  background-image: url(img/Sodio.png);
  height: 80px;
  width: 80px;
  display: none;
}
#grasas{
  background-image: url(img/Grasas.png);
  height: 80px;
  width: 80px;
  display: none;
}
#grasas-sat{
  background-image: url(img/Grasas-Saturadas.png);
  height: 80px;
  width: 80px;
  display: none;
}
#calorias{
  background-image: url(img/Calorias.png);
  height: 80px;
  width: 80px;
  display: none;
}
#edulcorante{
  background-image: url(img/Edulcorantes.png);
  height: 37px;
  width: 176px;
  display: none;
}
#cafeina{
  background-image: url(img/Cafeina.png);
  height: 37px;
  width: 135px;
  display: none;
}

/* footer */
footer{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.credits{
  color: #FAEBD7;
  font-family: 'Righteous', cursive;
  margin: .3rem;
  padding: .1rem;
  text-align: center;
}

